* {
  box-sizing: border-box;
}

/*** Default ***/
body {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto', 'Helvetica', 'Verdana', 'Arial', sans-serif;
}

h1,
p {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #014e87;
  transition: .2s ease;
}

a:hover {
  color: #01a0e8;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1260px;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  padding: 0 25px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #014e87;
  border-radius: 10px;
  background-color: transparent;
  transition: .2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #014e87;
}

.btn--bg {
  background: #014e87;
  color: #fff;
}

.btn--bg:hover {
  background: #01a0e8;
  border-color: #01a0e8;
}

/*** Background ***/
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bg-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-page {
  padding: 117px 0 54px;
  text-align: center;
}

/*** Logo ***/
.logo {
  margin-bottom: 40px;
}

.logo__img {
  margin-bottom: 5px;
}

.logo__subtitle {
  font-size: 18px;
}

/*** Title ***/
.page-title,
.page-subtitle {
  text-align: center;
}

.page-title {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 80px;
  font-weight: 700;
  border-bottom: 1px solid #547d96;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: 18px;
}

/*** Timer ***/
.timer {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 54px 0 42px;
}

.timer__value {
  font-size: 80px;
  font-weight: 700;
}

.timer__label {
  color: #7d7d7d;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 3px solid #014e87;
  padding-top: 15px;
}

/*** Form ***/
.form-section__description {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.form {
  margin: 0 auto;
  max-width: 435px;
}

.form__message {
  text-align: right;
  font-size: 12px;
}

.form__message--success {
  color: #279a27;
}

.form__message--error {
  color: #ff0000;
}

.form__group {
  margin-bottom: 15px;
}

.form__input {
  padding: 0 25px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #014e87;
  outline: none;
  transition: .2s ease;
}

.form__input:focus {
  border-color: #01a0e8;
}

.form__input::placeholder {
  color: #a5a4a4;
}

.form__group--radio {
  display: flex;
  gap: 15px;
}

.form__group--radio .radio {
  flex: 1 1 50%;
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #014e87;
  border-radius: 10px;
  transition: .2s ease;
  cursor: pointer;
}

.radio:hover {
  background-color: #01a0e8;
  border-color: #01a0e8;
}

.radio:hover .radio__name {
  color: #fff;
}

.radio:hover .radio__input {
  border-color: #fff;
}

.radio__input {
  width: 16px;
  height: 16px;
  border: 1px solid #014e87;
  border-radius: 50%;
  appearance: none;
  transition: .2s ease;
}

.radio__name {
  position: relative;
  color: #216496;
  transition: .2s ease;
}

.btn--bg-radio {
  background-color: #01a0e8;
  border-color: #01a0e8;
}

.radio__input:checked {
  border: 2px solid #fff;
}

.radio__input:checked + .radio__name:before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: -23px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.btn--bg-radio .radio__name {
  color: #fff;
}

/*** Social ***/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 55px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: #000;
}

.company-details {
  display: inline-block;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
}

/*** Menu ***/
.menu {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  padding: 70px 90px;
  height: 100%;
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-right: 15px solid #ffe207;
  transition: .2s ease;
}

.menu-open .menu-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, .2);
}

.menu-open .menu {
  transform: translateX(0);
}

.menu__close {
  position: absolute;
  display: flex;
  top: 45px;
  right: 56px;
  color: #afafaf;
  cursor: pointer;
}

.menu-details__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-details__title {
  margin-bottom: 5px;
  font-size: 14px;
}

.menu-details__text {
  font-weight: 700;
}

.menu__decor {
  position: absolute;
  bottom: 44px;
  left: 128px;
  color: #331615;
}
